@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
a:visited {
  text-decoration: none;
}
section {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: -webkit-fill-available;
  overflow: hidden;
}
header {
  position: relative;
  max-width: 1600px;
  height: 163px;
  margin: 0 auto;
  z-index: 7;
  overflow: hidden;
}
.headBg {
  max-width: 1600px;
  width: 1600px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.kayak {
  max-width: 100%;
  width: 275px;
  height: 300px;
  position: absolute;
  top: -58px;
  right: 115px;
  z-index: 6;
}
footer {
  position: relative;
  max-width: 1600px;
  height: 163px;
  margin: 0 auto;
  overflow: hidden;
}
.green-footer {
  width: 1600px;
  max-width: 1600px;
  height: 180px;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.all-bg {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.bg-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-offers {
  position: absolute;
  top: 90vh;
  right: 50%;
  transform: translateX(50%);
  z-index: 6;
}

.btn-offers a {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  font-weight: 400;
  color: #ffffff;
  width: 300px;
  border-radius: 100px;
  background-color: #19aaee;
  padding: 16px 32px;
  text-decoration: none;
  border: none;
  box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  -webkit-box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  -moz-box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  transition: all 0.3s ease-in-out;
}
.btn-offers a:hover {
  box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  -webkit-box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  -moz-box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  border: 1px solid #19aaee;
  color: #19aaee;
  background-color: #ffffff;
}
/*Offres section */
.footer-header-bg {
  position: absolute;
}

.offre-container {
  width: 100%;
  position: absolute;
  top: 60px;
  padding: 60px;
  z-index: 4;
}

.offre {
  user-select: none;
  position: relative;
  width: 100%;
  height: 560px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 17px 23px 35px -6px rgba(140, 207, 237, 0.75);
  -webkit-box-shadow: 17px 23px 35px -6px rgba(140, 207, 237, 0.75);
  -moz-box-shadow: 17px 23px 35px -6px rgba(140, 207, 237, 0.75);
}
.offre {
  display: flex;
  flex-direction: row;
}
.disc-offre {
  width: 60%;
  padding: 12px;
}
.pic-offre {
  flex-grow: 0;
  background-color: grey;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}
.disc-offre {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(49, 140, 214);
}
.discription {
  width: 100%;
  height: 80%;
  background-color: rgb(63, 0, 237);
  border-radius: 5px;
}
.offre-prix {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: red;
}
.supplement {
  width: 70%;
  height: 100%;
  background-color: bisque;
}
.prix {
  width: 30%;
  height: 100%;
  background-color: burlywood;
}
/*swiper*/
.swiper-container {
  width: 100%;
  overflow: hidden;
}
.swiper-scrollbar {
  margin-bottom: 10px;
}
.swiper-pagination {
  display: none;
}
.swiper-space {
  display: none;
}
/*responsive*/
@media screen and (max-width: 1206px) {
  .kayak {
    max-width: 100%;
    width: 210px;
    height: 207px;
    position: absolute;
    top: -29px;
    left: 59%;
    z-index: 6;
  }
}
@media screen and (max-width: 990px) {
  .kayak {
    display: none;
  }
  .offre {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .disc-offre {
    width: 100%;
    height: 60%;
    padding: 12px;
  }
  .pic-offre {
    flex-grow: 0;
    background-color: grey;
    height: 40%;
    width: 100%;
    border-radius: 5px;
  }
  .btn-offers a {
    font-size: large;
    padding: 14px 14px;
  }
  .swiper-pagination {
    display: flex;
    transform: translateX(42%);
    margin-bottom: 20px;
  }

  .swiper-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .offre-container {
    top: -45px;
    padding: 34px 34px 34px 33px;
  }
  .btn-offers {
    top: 94vh;
  }
  .swiper-space {
    width: 100%;
    display: flex;
    height: 20px;
  }
  .swiper-pagination {
    display: flex;
    transform: translateX(42%);
  }
}
