@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
a:visited {
  text-decoration: none;
}
li {
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  background-color: #ffffff;
  color: black;
  border-radius: 100px;
  width: 100px;
  text-align: center;
}
li button {
  border: none;
  background-color: none;
  color: #19aaee;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
header {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1600px;
  height: 163px;
  margin: 0 auto;
  z-index: 7;
}
.logo {
  align-self: center;
  width: 167px;
  height: 120px;
  position: relative;
  z-index: 9999;
  top: 15%;
}
.headBg {
  max-width: 1600px;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.kayak {
  max-width: 100%;
  width: 275px;
  height: 300px;
  position: absolute;
  top: -58px;
  right: 115px;
  z-index: 6;
}
footer {
  position: relative;
  max-width: 1600px;
  height: 163px;
  margin: 0 auto;
  overflow: hidden;
}
.green-footer {
  width: 1600px;
  max-width: 1600px;
  height: 180px;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.all-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.bg-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-offre h1 {
  position: relative;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #043653;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
  margin: 28px 1px 1px 8px;
}
.btn-offers {
  display: flex;
  position: relative;
  align-self: center;
  top: -14%;
  z-index: 6;
}

.btn-offers a {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  font-weight: 400;
  color: #ffffff;
  width: 300px;
  border-radius: 100px;
  background-color: #19aaee;
  padding: 16px 32px;
  text-decoration: none;
  text-align: center;
  border: none;
  box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  -webkit-box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  -moz-box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  transition: all 0.3s ease-in-out;
}
.btn-offers a:hover {
  box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  -webkit-box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  -moz-box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  border: 1px solid #19aaee;
  color: #19aaee;
  background-color: #ffffff;
}
/*Offres section */
.footer-header-bg {
  position: absolute;
}

.offre-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  position: relative;
  top: 5%;
  padding: 60px;
  z-index: 4;
}

.offre {
  user-select: none;
  position: relative;
  width: 100%;
  height: 560px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 17px 23px 35px -6px rgba(140, 207, 237, 0.75);
  -webkit-box-shadow: 17px 23px 35px -6px rgba(140, 207, 237, 0.75);
  -moz-box-shadow: 17px 23px 35px -6px rgba(140, 207, 237, 0.75);
  background-image: url("../Images/big background 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offre {
  display: flex;
  flex-direction: row;
}
.disc-offre {
  width: 60%;
  padding: 12px;
}
.pic-offre {
  flex-grow: 0;
  height: 100%;
  width: 40%;
  border-radius: 5px;
}
.pic-offre-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px;
  z-index: 1;
}
.pic-offre-container img {
  border-radius: 16px;
}
.disc-offre {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.discription {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  padding: 56px 115px 15px 37px;
}
.o-title h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: left;
  vertical-align: middle;
}
.o-disc p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 10%;
  vertical-align: middle;
}
.offre-prix {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 20%;
  border-radius: 5px;
}
.supplement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: #19aaee;
  border-radius: 15px;
}
.select-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 80%;
  border-radius: 15px;
  padding-top: 15px;
}
.select-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.select-container label {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
}
.display-option {
  align-self: center;
  width: 85%;
  padding: 10px 0 0 0;
}
.display-option ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}
.select-container select {
  width: 40%;
  text-align: center;
  align-self: center;
  box-shadow: 10px 10px 63px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 63px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 63px -13px rgba(0, 0, 0, 0.75);
  height: 20px;
  border: none;
  border-radius: 100px;
  padding: 0;
  background-color: #ffffff;
  color: black;
}

.prix {
  width: 30%;
  height: 100%;
  background-color: #ff995c;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  transition: all 0.3s ease;
  color: #ffffff;
}
.prix h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  font-weight: 400;
}
.btn-reservation {
  height: 100%;
}
.btn-reservation button {
  height: 100%;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  font-weight: 400;
  color: #ffffff;
  background-color: #19aaee;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 12px;
  box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  -webkit-box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  -moz-box-shadow: 8px 10px 77px -28px rgba(25, 170, 238, 0.92);
  transition: all 0.3s ease-in-out;
}
.btn-reservation button:hover {
  box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  -webkit-box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  -moz-box-shadow: 8px -27px 94px -24px rgba(25, 170, 238, 1);
  border: 1px solid #19aaee;
  color: #19aaee;
  background-color: #ffffff;
}
/*swiper*/
.swiper-container {
  width: 100%;
  overflow: hidden;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: var(--swiper-pagination-top, 95%);
}
.swiper-button-next,
.swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 38%);
}
/*responsive*/
@media screen and (max-width: 1400px) {
  .kayak {
    display: none;
  }
  .offre {
    height: 630px;
  }
  .offre-prix {
    height: 25%;
  }
  .o-disc p {
    font-size: 28px;
  }
  .btn-offers {
    top: -2%;
  }
  .display-option ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }
  li {
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 120px;
  }
  .btn-reservation button {
    border-radius: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .discription {
    padding: 56px 20px 15px 37px;
  }
  .o-title h3 {
    font-size: 35px;
  }
  .o-disc p {
    font-size: 24px;
  }
  .display-option ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 990px) {
  .headBg {
    width: 100%;
  }
  .green-footer {
    max-width: 100%;
  }
  .section-offre h1 {
    font-size: 80px;
  }
  .offre-prix {
    height: 30%;
  }
  .offre {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 875px;
  }
  .disc-offre {
    width: 100%;
    height: 60%;
    padding: 12px;
  }
  .discription {
    padding: 16px;
    gap: 20px;
    padding-bottom: 43px;
  }
  .o-title h3 {
    font-size: 32px;
  }
  .o-disc p {
    font-size: 24px;
  }
  .pic-offre {
    flex-grow: 0;
    height: 45%;
    width: 100%;
    border-radius: 5px;
  }
  .select-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    height: 80%;
    border-radius: 15px;
    padding-top: 10px;
  }
  .display-option ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 0.4rem;
    column-gap: 1rem;
  }

  li {
    place-self: center;
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 6px;
    gap: 6px;
    width: 80px;
  }
  .btn-reservation button {
    height: 100%;
    border-radius: 15px;
    padding: 0;
  }
  .btn-offers {
    top: 0%;
  }
  .btn-offers a {
    font-size: large;
    padding: 14px 14px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: var(--swiper-pagination-top, 95%);
  }
}

@media screen and (max-width: 780px) {
  .discription {
    gap: 15px;
  }
  .o-disc p {
    font-size: 18px;
    line-height: 30px;
  }
  .offre-prix {
    gap: 5px;
  }
  .select-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
  }
  .display-option ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.8rem;
    height: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  li {
    width: 79px;
  }
  .btn-reservation button {
    font-size: 18px;
  }
  .prix h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 680px) {
  .discription {
    gap: 18px;
  }
  .o-disc p {
    font-size: 16px;
    line-height: 24px;
  }
  .disc-offre {
    padding: 8px;
  }
  .offre-prix {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 0 100% 0;
    height: 35%;
    row-gap: 20px;
    column-gap: 0;
  }

  .supplement {
    grid-row: 1/2;
    place-self: center;
    grid-column: 2/3;
  }
  .prix {
    width: 35%;
    grid-row: 2/3;
    justify-self: self-start;
    grid-column: 2/3;
    margin-left: 18px;
    height: 70%;
    font-size: 16px;
  }

  .btn-reservation {
    grid-row: 2/3;
    justify-self: flex-end;
    grid-column: 2/3;
    width: 35%;
    margin-right: 12px;
  }

  .btn-reservation button {
    width: 100%;
    font-size: 16px;
    height: 70%;
  }

  .select-container select {
    width: 83%;
  }

  .select-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    background-color: #19aaee;
    height: 80%;
    border-radius: 15px;
    padding-top: 0px;
  }

  .display-option ul li {
    scroll-snap-align: start;
  }
  li {
    place-self: center;
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 6px;
    width: auto;
    gap: 14px;
  }
}
@media screen and (max-width: 450px) {
  .section-offre h1 {
    font-size: 60px;
  }
  .offre-container {
    padding: 38px;
  }
  .offre {
    height: 912px;
  }
  .disc-offre {
    padding: 0;
  }
  .discription {
    gap: 15px;
  }
  .o-title h3 {
    font-size: 26px;
  }
  .o-disc p {
    font-size: 14px;
    line-height: 30px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 5px);
    left: auto;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: var(--swiper-pagination-top, 96%);
  }
  .btn-offers a {
    width: 230px;
    font-size: small;
  }
  footer {
    height: 179px;
  }
}
